version: "3"

services:
  jekyll:
    image: "jekyll/jekyll:builder"
    ports:
      - "4000:4000"
    volumes:
      - ./:/srv/jekyll
    environment:
      "JEKYLL_ENV": "development"
    command:
      - jekyll
      - serve
      - -b
      - /pixelart
      - -l
