<section class="section">
  <div class='columns'>
    <div class='column is-half is-offset-one-quarter'>
      <div class='has-text-centered'>
        {%- for post in site.posts -%}
        <a href="{{ post.url | relative_url }}">
          <span class='pixelart-gallery-image' style='background-image: url({{ post.image }})'></span>
        </a>
        {%- endfor -%}
        {% assign mod = site.posts.size | modulo: 3 %}

        {% if mod != 0 %}
        <span class='pixelart-gallery-image is-hidden-touch'></span>

        {% endif %}
      </div>
    </div>
  </div>
  </div>
</section>
