<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ "/" | relative_url }}">
          <img src="{{ "/favicon.ico" | relative_url }}" class='is-pixel-perfect' alt="pixel art by alexjpaz" width="32" height="32">
          <strong>{{ site.title }}</strong>
        </a>

        <a role="button" class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          {%- for page in site.pages | reverse -%}
          {%- if page.header_page -%}
          <a class="navbar-item" href='{{ page.url | relative_url }}'>
            {{ page.title }}
          </a>
          {%- endif -%}
          {%- endfor -%}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Topics
            </a>

            <div class="navbar-dropdown">
              {%- for category in site.categories -%}
              <a class="navbar-item" href='{{ category.first | relative_url }}'>
                {{ category.first }}
              </a>
              {%- endfor -%}
            </div>
          </div>
        </div>

     


        <div class="navbar-end">
          <div class="navbar-item">
            <a href="{{ site.github_url }}" target='_blank'>
                <i class='fab fa-github-alt is-size-4 has-text-grey'></i>
              </a>
            </div>
          </div>
          <div class="navbar-item">
            <a href="{{ site.author.website }}" class='button is-primary' target='_blank'>
              {{ site.author.short_name }}
            </a>
          </div>
        </div>
      </div>
  </div>
</nav>
