.bulma-overrides .is-pixel-perfect {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.pixelart-gallery-image {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.pixelart-post-art-main-image {
  padding: 10px;
}
